name: Generate Metrics
on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: AdrianeDriane
          filename: metrics.svg
          base: ""
          plugin_habits: yes
          plugin_habits_charts: yes
          plugin_habits_skipped: bots,templates,merges
